<div class="row">
    <div class="col-xs-12">
        <form (ngSubmit)="addItem(f)" #f="ngForm">
        <div class="row">
            <div class="col-xs-5 form-group">
                <label for="name">Name</label>
                <input 
                type="text" 
                id="name" 
                ngModel
                name="recipe-name"
                class="form-control" 
                required>
            </div>
            <div class="col-xs-2 form-group">
                <label for="amount">Amount</label>
                <input 
                type="text" 
                id="amount"
                ngModel 
                name="amount"
                class="form-control"
                required
                pattern="^[1-9]+[0-9]*$">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit" [disabled]="f.invalid">{{editMode ? 'Update':'Add'}}</button>
                <button class="btn btn-danger" type="button">Delete</button>
                <button class="btn btn-primary" type="button">Clear</button>
            </div>
        </div>
        </form>
    </div>
</div>
